{:db {:host "localhost"
      :dbtype "postgresql"
      :port 5432
      :user "user-name"
      :password "password"
      :dbname "saas"
      :serverTimezone "UTC"
      :idleConnectionTestPeriod 30
      :autoReconnect true
      :characterEncoding "UTF-8"}
 :cognito {:client-id "client-id"
           :client-secret "secret"
           :user-pool-id "user-pool-id"
           :jwks "https://cognito-idp.{region}.amazonaws.com/{some-id}"}}