{:saas/secrets #include #join [#env HOME "/.saas-secrets.edn"]
 :webserver/port #or [#env PORT 8080]
 :server/jetty {:port #ig/ref :webserver/port
                :handler #ig/ref :saas/handler}
 :saas/handler {:auth #ig/ref :auth/cognito
                :db #ig/ref :saas/db
                :migrator #ig/ref :saas/migrator
                :openai #ig/ref :saas/openai
                :telegram #ig/ref :saas/telegram}
 :auth/cognito #ref [:saas/secrets :cognito]
 :saas/db #ref [:saas/secrets :db]
 :saas/openai #ref [:saas/secrets :openai]
 :saas/telegram #ref [:saas/secrets :telegram]
 :saas/migrator {:db #ig/ref :saas/db
                 :store :database
                 :migration-dir "migrations/"
                 :migration-table-name "migrations"
                 :init-in-transaction? true
                 :init-script "init.sql"}}
