{
  "openapi": "3.0.0",
  "info": {
    "title": "Telegram Bot API",
    "description": "Auto-generated OpenAPI schema",
    "contact": {},
    "version": "5.0.0"
  },
  "servers": [
    {
      "url": "https://api.telegram.org/bot{token}",
      "variables": {
        "token": {
          "default": "123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11",
          "description": "Each bot is given a unique authentication token when it is created."
        }
      }
    }
  ],
  "paths": {
    "/getUpdates": {
      "post": {
        "summary": "GetUpdates_POST",
        "description": "Use this method to receive incoming updates using long polling ([wiki](https://en.wikipedia.org/wiki/Push_technology#Long_polling)). An Array of [Update](https://core.telegram.org/bots/api/#update) objects is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#getupdates"
        },
        "operationId": "GetUpdates_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "integer",
                    "description": "Identifier of the first update to be returned. Must be greater by one than the highest among the identifiers of previously received updates. By default, updates starting with the earliest unconfirmed update are returned. An update is considered confirmed as soon as [getUpdates](https://core.telegram.org/bots/api/#getupdates) is called with an *offset* higher than its *update\\_id*. The negative offset can be specified to retrieve updates starting from *-offset* update from the end of the updates queue. All previous updates will forgotten.",
                    "format": "int32"
                  },
                  "limit": {
                    "maximum": 100.0,
                    "minimum": 1.0,
                    "type": "integer",
                    "description": "Limits the number of updates to be retrieved. Values between 1-100 are accepted. Defaults to 100.",
                    "format": "int32",
                    "default": 100
                  },
                  "timeout": {
                    "type": "integer",
                    "description": "Timeout in seconds for long polling. Defaults to 0, i.e. usual short polling. Should be positive, short polling should be used for testing purposes only.",
                    "format": "int32",
                    "default": 0
                  },
                  "allowed_updates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A JSON-serialized list of the update types you want your bot to receive. For example, specify [“message”, “edited\\_channel\\_post”, “callback\\_query”] to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all updates regardless of type (default). If not specified, the previous setting will be used.  \n\nPlease note that this parameter doesn't affect updates created before the call to the getUpdates, so unwanted updates may be received for a short period of time."
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUpdatesResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/setWebhook": {
      "post": {
        "summary": "SetWebhook_POST",
        "description": "Use this method to specify a url and receive incoming updates via an outgoing webhook. Whenever there is an update for the bot, we will send an HTTPS POST request to the specified url, containing a JSON-serialized [Update](https://core.telegram.org/bots/api/#update). In case of an unsuccessful request, we will give up after a reasonable amount of attempts. Returns *True* on success.\n\nIf you'd like to make sure that the Webhook request comes from Telegram, we recommend using a secret path in the URL, e.g. `https://www.example.com/<token>`. Since nobody else knows your bot's token, you can be pretty sure it's us.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#setwebhook"
        },
        "operationId": "SetWebhook_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "url"
                ],
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "HTTPS url to send updates to. Use an empty string to remove webhook integration"
                  },
                  "certificate": {
                    "type": "object",
                    "description": "This object represents the contents of a file to be uploaded. Must be posted using multipart/form-data in the usual way that files are uploaded via the browser."
                  },
                  "ip_address": {
                    "type": "string",
                    "description": "The fixed IP address which will be used to send webhook requests instead of the IP address resolved through DNS"
                  },
                  "max_connections": {
                    "type": "integer",
                    "description": "Maximum allowed number of simultaneous HTTPS connections to the webhook for update delivery, 1-100. Defaults to *40*. Use lower values to limit the load on your bot's server, and higher values to increase your bot's throughput.",
                    "format": "int32",
                    "default": 40
                  },
                  "allowed_updates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A JSON-serialized list of the update types you want your bot to receive. For example, specify [“message”, “edited\\_channel\\_post”, “callback\\_query”] to only receive updates of these types. See [Update](https://core.telegram.org/bots/api/#update) for a complete list of available update types. Specify an empty list to receive all updates regardless of type (default). If not specified, the previous setting will be used.  \nPlease note that this parameter doesn't affect updates created before the call to the setWebhook, so unwanted updates may be received for a short period of time."
                  },
                  "drop_pending_updates": {
                    "type": "boolean",
                    "description": "Pass *True* to drop all pending updates"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SetWebhookResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/deleteWebhook": {
      "post": {
        "summary": "DeleteWebhook_POST",
        "description": "Use this method to remove webhook integration if you decide to switch back to [getUpdates](https://core.telegram.org/bots/api/#getupdates). Returns *True* on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#deletewebhook"
        },
        "operationId": "DeleteWebhook_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "type": "object",
                "properties": {
                  "drop_pending_updates": {
                    "type": "boolean",
                    "description": "Pass *True* to drop all pending updates"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteWebhookResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/getWebhookInfo": {
      "post": {
        "summary": "GetWebhookInfo_POST",
        "description": "Use this method to get current webhook status. Requires no parameters. On success, returns a [WebhookInfo](https://core.telegram.org/bots/api/#webhookinfo) object. If the bot is using [getUpdates](https://core.telegram.org/bots/api/#getupdates), will return an object with the *url* field empty.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#getwebhookinfo"
        },
        "operationId": "GetWebhookInfo_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhookInfoResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/getMe": {
      "post": {
        "summary": "GetMe_POST",
        "description": "A simple method for testing your bot's auth token. Requires no parameters. Returns basic information about the bot in form of a [User](https://core.telegram.org/bots/api/#user) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#getme"
        },
        "operationId": "GetMe_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMeResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/logOut": {
      "post": {
        "summary": "LogOut_POST",
        "description": "Use this method to log out from the cloud Bot API server before launching the bot locally. You **must** log out the bot before running it locally, otherwise there is no guarantee that the bot will receive updates. After a successful call, you can immediately log in on a local server, but will not be able to log in back to the cloud Bot API server for 10 minutes. Returns *True* on success. Requires no parameters.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#logout"
        },
        "operationId": "LogOut_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LogOutResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/close": {
      "post": {
        "summary": "Close_POST",
        "description": "Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns *True* on success. Requires no parameters.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#close"
        },
        "operationId": "Close_POST",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendMessage": {
      "post": {
        "summary": "SendMessage_POST",
        "description": "Use this method to send text messages. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendmessage"
        },
        "operationId": "SendMessage_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "text"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "text": {
                    "type": "string",
                    "description": "Text of the message to be sent, 1-4096 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the message text. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in message text, which can be specified instead of *parse\\_mode*"
                  },
                  "disable_web_page_preview": {
                    "type": "boolean",
                    "description": "Disables link previews for links in this message"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/forwardMessage": {
      "post": {
        "summary": "ForwardMessage_POST",
        "description": "Use this method to forward messages of any kind. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#forwardmessage"
        },
        "operationId": "ForwardMessage_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "from_chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format `@channelusername`)"
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*",
                    "format": "int32"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForwardMessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/copyMessage": {
      "post": {
        "summary": "CopyMessage_POST",
        "description": "Use this method to copy messages of any kind. The method is analogous to the method [forwardMessages](https://core.telegram.org/bots/api/#forwardmessages), but the copied message doesn't have a link to the original message. Returns the [MessageId](https://core.telegram.org/bots/api/#messageid) of the sent message on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#copymessage"
        },
        "operationId": "CopyMessage_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "from_chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format `@channelusername`)"
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*",
                    "format": "int32"
                  },
                  "caption": {
                    "type": "string",
                    "description": "New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the new caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in the new caption, which can be specified instead of *parse\\_mode*"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CopyMessageResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendPhoto": {
      "post": {
        "summary": "SendPhoto_POST",
        "description": "Use this method to send photos. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendphoto"
        },
        "operationId": "SendPhoto_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "photo"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "photo": {
                    "type": "object",
                    "description": "Photo to send. Pass a file\\_id as String to send a photo that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a photo from the Internet, or upload a new photo using multipart/form-data. The photo must be at most 10 MB in size. The photo's width and height must not exceed 10000 in total. Width and height ratio must be at most 20. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Photo caption (may also be used when resending photos by *file\\_id*), 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the photo caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in the caption, which can be specified instead of *parse\\_mode*"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendPhotoResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendAudio": {
      "post": {
        "summary": "SendAudio_POST",
        "description": "Use this method to send audio files, if you want Telegram clients to display them in the music player. Your audio must be in the .MP3 or .M4A format. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send audio files of up to 50 MB in size, this limit may be changed in the future.\n\nFor sending voice messages, use the [sendVoice](https://core.telegram.org/bots/api/#sendvoice) method instead.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendaudio"
        },
        "operationId": "SendAudio_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "audio"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "audio": {
                    "type": "object",
                    "description": "Audio file to send. Pass a file\\_id as String to send an audio file that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get an audio file from the Internet, or upload a new one using multipart/form-data. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Audio caption, 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the audio caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in the caption, which can be specified instead of *parse\\_mode*"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration of the audio in seconds",
                    "format": "int32"
                  },
                  "performer": {
                    "type": "string",
                    "description": "Performer"
                  },
                  "title": {
                    "type": "string",
                    "description": "Track name"
                  },
                  "thumb": {
                    "type": "object",
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass “attach://<file\\_attach\\_name>” if the thumbnail was uploaded using multipart/form-data under <file\\_attach\\_name>. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAudioResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendDocument": {
      "post": {
        "summary": "SendDocument_POST",
        "description": "Use this method to send general files. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send files of any type of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#senddocument"
        },
        "operationId": "SendDocument_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "document"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "document": {
                    "type": "object",
                    "description": "File to send. Pass a file\\_id as String to send a file that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a file from the Internet, or upload a new one using multipart/form-data. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "thumb": {
                    "type": "object",
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass “attach://<file\\_attach\\_name>” if the thumbnail was uploaded using multipart/form-data under <file\\_attach\\_name>. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Document caption (may also be used when resending documents by *file\\_id*), 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the document caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in the caption, which can be specified instead of *parse\\_mode*"
                  },
                  "disable_content_type_detection": {
                    "type": "boolean",
                    "description": "Disables automatic server-side content type detection for files uploaded using multipart/form-data"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendDocumentResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendVideo": {
      "post": {
        "summary": "SendVideo_POST",
        "description": "Use this method to send video files, Telegram clients support mp4 videos (other formats may be sent as [Document](https://core.telegram.org/bots/api/#document)). On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send video files of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendvideo"
        },
        "operationId": "SendVideo_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "video"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "video": {
                    "type": "object",
                    "description": "Video to send. Pass a file\\_id as String to send a video that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a video from the Internet, or upload a new video using multipart/form-data. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration of sent video in seconds",
                    "format": "int32"
                  },
                  "width": {
                    "type": "integer",
                    "description": "Video width",
                    "format": "int32"
                  },
                  "height": {
                    "type": "integer",
                    "description": "Video height",
                    "format": "int32"
                  },
                  "thumb": {
                    "type": "object",
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass “attach://<file\\_attach\\_name>” if the thumbnail was uploaded using multipart/form-data under <file\\_attach\\_name>. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Video caption (may also be used when resending videos by *file\\_id*), 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the video caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in the caption, which can be specified instead of *parse\\_mode*"
                  },
                  "supports_streaming": {
                    "type": "boolean",
                    "description": "Pass *True*, if the uploaded video is suitable for streaming"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendVideoResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendAnimation": {
      "post": {
        "summary": "SendAnimation_POST",
        "description": "Use this method to send animation files (GIF or H.264/MPEG-4 AVC video without sound). On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send animation files of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendanimation"
        },
        "operationId": "SendAnimation_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "animation"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "animation": {
                    "type": "object",
                    "description": "Animation to send. Pass a file\\_id as String to send an animation that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get an animation from the Internet, or upload a new animation using multipart/form-data. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration of sent animation in seconds",
                    "format": "int32"
                  },
                  "width": {
                    "type": "integer",
                    "description": "Animation width",
                    "format": "int32"
                  },
                  "height": {
                    "type": "integer",
                    "description": "Animation height",
                    "format": "int32"
                  },
                  "thumb": {
                    "type": "object",
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass “attach://<file\\_attach\\_name>” if the thumbnail was uploaded using multipart/form-data under <file\\_attach\\_name>. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Animation caption (may also be used when resending animation by *file\\_id*), 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the animation caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in the caption, which can be specified instead of *parse\\_mode*"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendAnimationResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendVoice": {
      "post": {
        "summary": "SendVoice_POST",
        "description": "Use this method to send audio files, if you want Telegram clients to display the file as a playable voice message. For this to work, your audio must be in an .OGG file encoded with OPUS (other formats may be sent as [Audio](https://core.telegram.org/bots/api/#audio) or [Document](https://core.telegram.org/bots/api/#document)). On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned. Bots can currently send voice messages of up to 50 MB in size, this limit may be changed in the future.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendvoice"
        },
        "operationId": "SendVoice_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "voice"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "voice": {
                    "type": "object",
                    "description": "Audio file to send. Pass a file\\_id as String to send a file that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a file from the Internet, or upload a new one using multipart/form-data. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Voice message caption, 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the voice message caption. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in the caption, which can be specified instead of *parse\\_mode*"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration of the voice message in seconds",
                    "format": "int32"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendVoiceResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendVideoNote": {
      "post": {
        "summary": "SendVideoNote_POST",
        "description": "As of [v.4.0](https://telegram.org/blog/video-messages-and-telescope), Telegram clients support rounded square mp4 videos of up to 1 minute long. Use this method to send video messages. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendvideonote"
        },
        "operationId": "SendVideoNote_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "video_note"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "video_note": {
                    "type": "object",
                    "description": "Video note to send. Pass a file\\_id as String to send a video note that exists on the Telegram servers (recommended) or upload a new video using multipart/form-data. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files). Sending video notes by a URL is currently unsupported"
                  },
                  "duration": {
                    "type": "integer",
                    "description": "Duration of sent video in seconds",
                    "format": "int32"
                  },
                  "length": {
                    "type": "integer",
                    "description": "Video width and height, i.e. diameter of the video message",
                    "format": "int32"
                  },
                  "thumb": {
                    "type": "object",
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass “attach://<file\\_attach\\_name>” if the thumbnail was uploaded using multipart/form-data under <file\\_attach\\_name>. [More info on Sending Files »](https://core.telegram.org/bots/api/#sending-files)"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendVideoNoteResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendMediaGroup": {
      "post": {
        "summary": "SendMediaGroup_POST",
        "description": "Use this method to send a group of photos, videos, documents or audios as an album. Documents and audio files can be only grouped in an album with messages of the same type. On success, an array of [Messages](https://core.telegram.org/bots/api/#message) that were sent is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendmediagroup"
        },
        "operationId": "SendMediaGroup_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "media"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/medium"
                    },
                    "description": "A JSON-serialized array describing messages to be sent, must include 2-10 items"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the messages are a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendMediaGroupResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendLocation": {
      "post": {
        "summary": "SendLocation_POST",
        "description": "Use this method to send point on the map. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendlocation"
        },
        "operationId": "SendLocation_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "latitude",
                  "longitude"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of the location",
                    "format": "double"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of the location",
                    "format": "double"
                  },
                  "horizontal_accuracy": {
                    "type": "number",
                    "description": "The radius of uncertainty for the location, measured in meters; 0-1500",
                    "format": "double"
                  },
                  "live_period": {
                    "type": "integer",
                    "description": "Period in seconds for which the location will be updated (see [Live Locations](https://telegram.org/blog/live-locations), should be between 60 and 86400.",
                    "format": "int32"
                  },
                  "heading": {
                    "type": "integer",
                    "description": "For live locations, a direction in which the user is moving, in degrees. Must be between 1 and 360 if specified.",
                    "format": "int32"
                  },
                  "proximity_alert_radius": {
                    "type": "integer",
                    "description": "For live locations, a maximum distance for proximity alerts about approaching another chat member, in meters. Must be between 1 and 100000 if specified.",
                    "format": "int32"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendLocationResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/editMessageLiveLocation": {
      "post": {
        "summary": "EditMessageLiveLocation_POST",
        "description": "Use this method to edit live location messages. A location can be edited until its *live\\_period* expires or editing is explicitly disabled by a call to [stopMessageLiveLocation](https://core.telegram.org/bots/api/#stopmessagelivelocation). On success, if the edited message is not an inline message, the edited [Message](https://core.telegram.org/bots/api/#message) is returned, otherwise *True* is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#editmessagelivelocation"
        },
        "operationId": "EditMessageLiveLocation_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "latitude",
                  "longitude"
                ],
                "type": "object",
                "properties": {
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of new location",
                    "format": "double"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of new location",
                    "format": "double"
                  },
                  "chat_id": {
                    "type": "object",
                    "description": "Required if *inline\\_message\\_id* is not specified. Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Required if *inline\\_message\\_id* is not specified. Identifier of the message to edit",
                    "format": "int32"
                  },
                  "inline_message_id": {
                    "type": "string",
                    "description": "Required if *chat\\_id* and *message\\_id* are not specified. Identifier of the inline message"
                  },
                  "horizontal_accuracy": {
                    "type": "number",
                    "description": "The radius of uncertainty for the location, measured in meters; 0-1500",
                    "format": "double"
                  },
                  "heading": {
                    "type": "integer",
                    "description": "Direction in which the user is moving, in degrees. Must be between 1 and 360 if specified.",
                    "format": "int32"
                  },
                  "proximity_alert_radius": {
                    "type": "integer",
                    "description": "Maximum distance for proximity alerts about approaching another chat member, in meters. Must be between 1 and 100000 if specified.",
                    "format": "int32"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/InlineKeyboardMarkup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditMessageLiveLocationResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/stopMessageLiveLocation": {
      "post": {
        "summary": "StopMessageLiveLocation_POST",
        "description": "Use this method to stop updating a live location message before *live\\_period* expires. On success, if the message was sent by the bot, the sent [Message](https://core.telegram.org/bots/api/#message) is returned, otherwise *True* is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#stopmessagelivelocation"
        },
        "operationId": "StopMessageLiveLocation_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Required if *inline\\_message\\_id* is not specified. Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Required if *inline\\_message\\_id* is not specified. Identifier of the message with live location to stop",
                    "format": "int32"
                  },
                  "inline_message_id": {
                    "type": "string",
                    "description": "Required if *chat\\_id* and *message\\_id* are not specified. Identifier of the inline message"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/InlineKeyboardMarkup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StopMessageLiveLocationResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendVenue": {
      "post": {
        "summary": "SendVenue_POST",
        "description": "Use this method to send information about a venue. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendvenue"
        },
        "operationId": "SendVenue_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "latitude",
                  "longitude",
                  "title",
                  "address"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "Latitude of the venue",
                    "format": "double"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "Longitude of the venue",
                    "format": "double"
                  },
                  "title": {
                    "type": "string",
                    "description": "Name of the venue"
                  },
                  "address": {
                    "type": "string",
                    "description": "Address of the venue"
                  },
                  "foursquare_id": {
                    "type": "string",
                    "description": "Foursquare identifier of the venue"
                  },
                  "foursquare_type": {
                    "type": "string",
                    "description": "Foursquare type of the venue, if known. (For example, “arts\\_entertainment/default”, “arts\\_entertainment/aquarium” or “food/icecream”.)"
                  },
                  "google_place_id": {
                    "type": "string",
                    "description": "Google Places identifier of the venue"
                  },
                  "google_place_type": {
                    "type": "string",
                    "description": "Google Places type of the venue. (See [supported types](https://developers.google.com/places/web-service/supported_types).)"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendVenueResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendContact": {
      "post": {
        "summary": "SendContact_POST",
        "description": "Use this method to send phone contacts. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendcontact"
        },
        "operationId": "SendContact_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "phone_number",
                  "first_name"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "Contact's phone number"
                  },
                  "first_name": {
                    "type": "string",
                    "description": "Contact's first name"
                  },
                  "last_name": {
                    "type": "string",
                    "description": "Contact's last name"
                  },
                  "vcard": {
                    "type": "string",
                    "description": "Additional data about the contact in the form of a [vCard](https://en.wikipedia.org/wiki/VCard), 0-2048 bytes"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup11"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendContactResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendPoll": {
      "post": {
        "summary": "SendPoll_POST",
        "description": "Use this method to send a native poll. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendpoll"
        },
        "operationId": "SendPoll_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "question",
                  "options"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "question": {
                    "type": "string",
                    "description": "Poll question, 1-300 characters"
                  },
                  "options": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A JSON-serialized list of answer options, 2-10 strings 1-100 characters each"
                  },
                  "is_anonymous": {
                    "type": "boolean",
                    "description": "True, if the poll needs to be anonymous, defaults to *True*"
                  },
                  "type": {
                    "type": "string",
                    "description": "Poll type, “quiz” or “regular”, defaults to “regular”"
                  },
                  "allows_multiple_answers": {
                    "type": "boolean",
                    "description": "True, if the poll allows multiple answers, ignored for polls in quiz mode, defaults to *False*"
                  },
                  "correct_option_id": {
                    "type": "integer",
                    "description": "0-based identifier of the correct answer option, required for polls in quiz mode",
                    "format": "int32"
                  },
                  "explanation": {
                    "type": "string",
                    "description": "Text that is shown when a user chooses an incorrect answer or taps on the lamp icon in a quiz-style poll, 0-200 characters with at most 2 line feeds after entities parsing"
                  },
                  "explanation_parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the explanation. See [formatting options](https://core.telegram.org/bots/api/#formatting-options) for more details."
                  },
                  "explanation_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "List of special entities that appear in the poll explanation, which can be specified instead of *parse\\_mode*"
                  },
                  "open_period": {
                    "type": "integer",
                    "description": "Amount of time in seconds the poll will be active after creation, 5-600. Can't be used together with *close\\_date*.",
                    "format": "int32"
                  },
                  "close_date": {
                    "type": "integer",
                    "description": "Point in time (Unix timestamp) when the poll will be automatically closed. Must be at least 5 and no more than 600 seconds in the future. Can't be used together with *open\\_period*.",
                    "format": "int32"
                  },
                  "is_closed": {
                    "type": "boolean",
                    "description": "Pass *True*, if the poll needs to be immediately closed. This can be useful for poll preview."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendPollResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendDice": {
      "post": {
        "summary": "SendDice_POST",
        "description": "Use this method to send an animated emoji that will display a random value. On success, the sent [Message](https://core.telegram.org/bots/api/#message) is returned.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#senddice"
        },
        "operationId": "SendDice_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "emoji": {
                    "$ref": "#/components/schemas/emoji"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "reply_to_message_id": {
                    "type": "integer",
                    "description": "If the message is a reply, ID of the original message",
                    "format": "int32"
                  },
                  "allow_sending_without_reply": {
                    "type": "boolean",
                    "description": "Pass *True*, if the message should be sent even if the specified replied-to message is not found"
                  },
                  "reply_markup": {
                    "$ref": "#/components/schemas/reply_markup"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendDiceResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sendChatAction": {
      "post": {
        "summary": "SendChatAction_POST",
        "description": "Use this method when you need to tell the user that something is happening on the bot's side. The status is set for 5 seconds or less (when a message arrives from your bot, Telegram clients clear its typing status). Returns *True* on success.\n\nExample: The [ImageBot](https://t.me/imagebot) needs some time to process a request and upload the image. Instead of sending a text message along the lines of “Retrieving image, please wait…”, the bot may use [sendChatAction](https://core.telegram.org/bots/api/#sendchataction) with *action* = *upload\\_photo*. The user will see a “sending photo” status for the bot.\n\nWe only recommend using this method when a response from the bot will take a **noticeable** amount of time to arrive.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#sendchataction"
        },
        "operationId": "SendChatAction_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "action"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target chat or username of the target channel (in the format `@channelusername`)"
                  },
                  "action": {
                    "type": "string",
                    "description": "Type of action to broadcast. Choose one, depending on what the user is about to receive: *typing* for [text messages](https://core.telegram.org/bots/api/#sendmessage), *upload\\_photo* for [photos](https://core.telegram.org/bots/api/#sendphoto), *record\\_video* or *upload\\_video* for [videos](https://core.telegram.org/bots/api/#sendvideo), *record\\_voice* or *upload\\_voice* for [voice notes](https://core.telegram.org/bots/api/#sendvoice), *upload\\_document* for [general files](https://core.telegram.org/bots/api/#senddocument), *find\\_location* for [location data](https://core.telegram.org/bots/api/#sendlocation), *record\\_video\\_note* or *upload\\_video\\_note* for [video notes](https://core.telegram.org/bots/api/#sendvideonote)."
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendChatActionResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/getUserProfilePhotos": {
      "post": {
        "summary": "GetUserProfilePhotos_POST",
        "description": "Use this method to get a list of profile pictures for a user. Returns a [UserProfilePhotos](https://core.telegram.org/bots/api/#userprofilephotos) object.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#getuserprofilephotos"
        },
        "operationId": "GetUserProfilePhotos_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "user_id"
                ],
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "Unique identifier of the target user",
                    "format": "int32"
                  },
                  "offset": {
                    "type": "integer",
                    "description": "Sequential number of the first photo to be returned. By default, all photos are returned.",
                    "format": "int32"
                  },
                  "limit": {
                    "maximum": 100.0,
                    "minimum": 1.0,
                    "type": "integer",
                    "description": "Limits the number of photos to be retrieved. Values between 1-100 are accepted. Defaults to 100.",
                    "format": "int32",
                    "default": 100
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUserProfilePhotosResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/getFile": {
      "post": {
        "summary": "GetFile_POST",
        "description": "Use this method to get basic info about a file and prepare it for downloading. For the moment, bots can download files of up to 20MB in size. On success, a [File](https://core.telegram.org/bots/api/#file) object is returned. The file can then be downloaded via the link `https://api.telegram.org/file/bot<token>/<file_path>`, where `<file_path>` is taken from the response. It is guaranteed that the link will be valid for at least 1 hour. When the link expires, a new one can be requested by calling [getFile](https://core.telegram.org/bots/api/#getfile) again.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#getfile"
        },
        "operationId": "GetFile_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "file_id"
                ],
                "type": "object",
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "File identifier to get info about"
                  }
                }
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFileResponse"
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/kickChatMember": {
      "post": {
        "summary": "KickChatMember_POST",
        "description": "Use this method to kick a user from a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the group on their own using invite links, etc., unless [unbanned](https://core.telegram.org/bots/api/#unbanchatmember) first. The bot must be an administrator in the chat for this to work and must have the appropriate admin rights. Returns *True* on success.",
        "externalDocs": {
          "url": "https://core.telegram.org/bots/api/#kickchatmember"
        },
        "operationId": "KickChatMember_POST",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "encoding": {},
              "schema": {
                "required": [
                  "chat_id",
                  "user_id"
                ],
                "type": "object",
                "properties": {
                  "chat_id": {
                    "type": "object",
                    "description": "Unique identifier for the target group or username of the target supergroup or channel (in the format `@channelusername`)"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Unique identifier of the target user",
                    "format": "int32"
                  },
                  "until_date": {
                    "type": "integer",
                    "description": "Date when the user will be unbanned, unix time. If user is banned for more than 366 days or less than 30 seconds from the current time they are considered to be banned forever",
                    "format": "int32"
                  }
                }
              }
            }
[...]
